@import url('https://fonts.googleapis.com/css?family=Gruppo&display=swap');

.main-img{
  background-image: url("moonlightcover.jpg");
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  height: 450px;
}

.special.item{
  font-family: "Helvetica Neue", sans-serif;
  font-size: 18px;
}

.borderless.topPart.menu{
  box-shadow: none;
  border: none;
  font-family: "Gruppo", sans-serif;
  background-color: transparent;
  font-size: 18px;
}

.ui.container{
  margin-top: 10px;
  margin-right: 0px;

}
.ui.image{
  max-height: 30px;
}
